.tile{
    display: grid;
    place-content: center;
    width: 80px;
    height:80px;
}

.chess-piece{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.chess-piece:hover{
    cursor: grab;
}

.chess-piece:active{
    cursor:grabbing;
}

.black-tile{
    display: grid;
    place-content: center;  
    background-color: #779556;
}

.white-tile{
    display: grid;
    place-content: center;  
    background-color: #ebecd0;
}
