.tile{
    display: grid;
    place-content: center;
    width: 75px;
    height:75px;
}

.chess-piece{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.chess-piece:hover{
    cursor: grab;
}

.chess-piece:active{
    cursor:grabbing;
}

.tile.black-tile{
    background-color: #779556;
}

.tile.white-tile{
    background-color: #ebecd0;
}

.log-container {
    text-align: center;
    position: fixed;
    left: 10px;
    top: 100px;
    background-color: #78a574;
    padding: 10px;
    border: 1px solid #87bb7a;
    max-height: 400px;
    overflow-y: auto;
    width: 200px;
  }
  
  .log-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .log-container li {
    margin-bottom: 5px;
  }
  
  .log-container button.active {
    background-color: yellow;
  }
  